body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header,
footer,
.main {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F0FAF8;
}

.links,
.main-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main {
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

footer {
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 250px;
    border-radius: 6px;
}

.signup {
    background-color: #3882F6;
    padding: 10px 15px;
    border-radius: 6px;
    border-width: 0;
    outline: none;
    color: #F9FAF8
}

.main-button {
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    align-items: flex-start;
    gap: 26px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.card-img {
    border: solid;
    border-color: #3882F6;
    border-radius: 8px;
    border-width: 4px;
}

.quote {
    background: #E5E7EB;
    padding: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    max-width: 700px;
    display: flex;
    flex-direction: column;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    align-self: center;
    margin: 50px auto;
    max-width: 700px;
    max-height: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 6px;
    gap: 40px;
}

.action-box > button {
    border-color: #F9FAF8;
    outline: solid;
}
